@use '../utilities/' as *;

body {
  font-family: $poppins;
  font-weight: 500;
  font-size: 1rem;
}

.heading {
  font-family: inherit;
  font-weight: 700;

  &:is(h1) {
    font-size: 2.6rem;
    line-height: 1.2em;

    @include respond-to(768px) {
      font-size: 3rem;
    }

    @include respond-to(1280px) {
      font-size: 4.16rem;
    }
  }

  &:is(h2) {
    font-size: 1.7rem;
    line-height: 1em;

    @include respond-to(768px) {
      font-size: 2.1rem;
    }
  }

  &:is(h3) {
    font-size: 1.45rem;

    @include respond-to(768px) {
      font-size: 1.2rem;
    }
  }

  &:is(h4) {
    @include respond-to(768px) {
      font-size: 0.9rem;
    }
  }
}

.text {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;

  &:is(.hero__text) {
    font-size: 1.18rem;

    @include respond-to(768px) {
      font-size: 1.22rem;
    }
  }

  &:is(.shortened__text) {
    font-weight: 700;
    font-size: 0.98rem;

    @include respond-to(768px) {
      font-size: 1.1rem;
    }
  }

  &:is(.shortened__link) {
    font-weight: 700;
    font-size: 0.98rem;
  }

  &:is(.stats__text) {
    font-size: 0.98rem;

    @include respond-to(768px) {
      line-height: 2em;
    }
  }

  &:is(.stat__text) {
    font-size: 0.98rem;

    @include respond-to(768px) {
      font-size: 0.8rem;
      line-height: 1.5em;
    }
  }

  &--error {
    font-size: 0.8rem;
    font-style: italic;
    color: $red;
  }
}

.form {
  &__input {
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.05rem;
  }
}
