// primary colors
$cyan: hsl(180, 66%, 49%);
$cyan-light: hsl(180, 86%, 78%);
$dark-violet: hsl(257, 27%, 26%);

// secondary color
$red: hsl(0, 87%, 67%);

// neutral
$white: hsl(0, 0%, 100%);
$gray: hsla(0, 0%, 75%, 30%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

// $font family
$poppins: 'Poppins', sans-serif;
