@use '../utilities' as *;

.btn {
  display: block;
  font-family: $poppins;
  font-weight: 700;
  text-align: center;
  color: $white;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  margin: 0 auto;
  background: $cyan;
  transition: all 0.3s ease;
  cursor: pointer;

  &:is(:hover, :focus) {
    background: $cyan-light;
  }

  &--pry {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 210px;
    padding: 1rem 0;
    border-radius: 9999px;

    @include respond-to(768px) {
      font-size: 1rem;
      letter-spacing: 0.05em;
      max-width: 180px;
      padding: 0.8rem 0;
    }
  }

  &--sec {
    border-radius: 6px;
    font-size: 1.2rem;
    max-width: 100%;
    padding: 0.8rem 0;

    &:is(.shortened__btn) {
      font-size: 1rem;
      padding: 0.5rem 0;
    }

    &:is(.shortened__btn--copied) {
      background-color: $dark-violet;
    }

    @include respond-to(768px) {
      max-width: 160px;

      &:is(.shortened__btn) {
        font-size: 0.9rem;
        max-width: 90px;
      }
    }

    @include respond-to(1024px) {
      padding: 1rem 0;
    }
  }

  &--alt {
    border-radius: 9999px;

    @include respond-to(1024px) {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }
}
