@use '../utilities/' as *;

.footer {
  display: flex;
  flex-direction: column;
  color: $white;
  background-color: $very-dark-violet;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 325px;
    background-color: $dark-violet;
    background-image: url(../images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__heading {
    margin-bottom: 2rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 2rem;
  }

  &__logo {
    .logo__img {
      filter: brightness(0) invert(1);
    }
  }

  &__nav {
    text-align: center;
    margin: 3.5rem 0;
  }

  @include respond-to(768px) {
    &__top {
      min-height: 230px;
      background-image: url(../images/bg-boost-desktop.svg);
    }

    &__main {
      flex-direction: row;
      align-items: flex-start;
      gap: 2rem;
      padding: 3rem 2.5rem;
    }

    &__nav {
      text-align: left;
      margin: 0;
      margin-left: auto;
    }
  }

  @include respond-to(1024px) {
    &__main {
      gap: 6rem;
      padding: 3rem 3.5rem;
    }
  }

  @include respond-to(1280px) {
    &__main {
      padding: 3rem 9rem;
    }
  }
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  &__icon {
    transition: all 0.3s ease;

    &:is(:hover, :focus) {
      transform: scale(0.8);
    }
  }

  @include respond-to(768px) {
    gap: 1rem;
  }
}
